.cart
 .head
  a(href="/cart") Корзина

 .item
  span 1x
  br
  a(href="#") Jinocase1 Jinocase1 Jinocase1
  .sum 1542.00 руб
   .del(title="Удалить")
 .item
  span 2x
  br
  a(href="#") Jinocase2 Jinocase2
  .sum 2542.00 руб
   .del(title="Удалить")
 .item
  span 3x
  br
  a(href="#") Jinocase3 Jinocase3 Jinocase3 Jinocase3 Jinocase3
  .sum 3542.00 руб
   .del(title="Удалить")

 .sum Итог: 342.34 руб
 a(href="/cart") Корзина/Оформить »