doctype html
html
 head
  title магаз
  link(href="/css/shop.css" rel="stylesheet" type="text/css")
  link(href="/css/jq.swiper.css" rel="stylesheet" type="text/css")
  script(src="/js/jquery.js")
  script(src="/js/jquery.swiper.js")
  script(src="/js/common.js")
 body
  .content-bg
  .content-head
   include shop-head.jade
  .content-menu
   include shop-menu.jade
  .content-breadcrumb
   a(href="") ГЛАВНАЯ
   |-
   a(href="") МАГАЗИН ГОТОВОЙ ПРОДУКЦИИ
   |-
   a(href="") ТОЛСТОВКИ С КАПЮШОНОМ
   |-
   |CHAKKY
  .content-body.item
   include shop-item.jade
  .content-foot
   include shop-foot.jade