.wrap-menu
 .root создай дизайн
 .root женщинам
  .sub
   .column
    .head футболки
    a(href="#") классические
    a(href="#") стретч
    a(href="#") лонгслив
   .column
    .head футболки
    a(href="#") классические
    a(href="#") стретч
    a(href="#") лонгслив
 .root мужчинам
  .sub
   .column
    .head футболки
    a(href="#") классические
    a(href="#") стретч
    a(href="#") лонгслив
   .column
    .head футболки
    a(href="#") классические
    a(href="#") стретч
    a(href="#") лонгслив
 .root детям
  .sub
   .column
    .head футболки
    a(href="#") классические
    a(href="#") стретч
    a(href="#") лонгслив
   .column
    .head футболки
    a(href="#") классические
    a(href="#") стретч
    a(href="#") лонгслив
 .root аксессуары
  .sub
   .column
    .head футболки
    a(href="#") классические
    a(href="#") стретч
    a(href="#") лонгслив
   .column
    .head футболки
    a(href="#") классические
    a(href="#") стретч
    a(href="#") лонгслив