.menu
 a(href="/login") Войти
 a(href="/make") Создать дизайн
 a(href="/contacts") Контакты
 a(href="/blog") Блог
 a(href="/login") Заказать
a.logo(href="/") Printari
.wrap-search
 input.search(placeholder="поиск по сайту")
 button НАЙТИ
.wrap-feedback
 img(src="/images/phone2.png")
 span 744-33-27
 span.small 8(495)
 button ОБРАТНЫЙ ЗВОНОК